@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: 'Epilogue', sans-serif;
}

.wrapper{
    max-width: 90%;
    margin: 0 auto;
}

a{
    text-decoration: none;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul li{
  list-style: none;
    padding: 20px;
    color: hsl(0, 0%, 41%);
    cursor: pointer;
    transition: .2s ease-in;
}

li:hover{
    color: hsl(0, 0%, 8%);
}

.header_left{
    display: flex;
    align-items: center;
}

button{
    cursor: pointer;
}

.header_btn button{
    padding: 10px 20px;
    border: none;
    background-color: transparent;
    color: hsl(0, 0%, 41%);
    font-size: 14px;
    font-weight: 500;
}

.btn_1:hover{
    color: hsl(0, 0%, 8%);
}

.btn_2{
    border: 1.5px solid hsl(0, 0%, 41%)!important ;
    border-radius: 15px;
    transition: .2s ease-in;
}

.btn_2:hover{
    background-color: hsl(0, 0%, 8%);
    color: hsl(0, 0%, 98%);
}

.hero_section{
 display: flex;
 justify-content: center;
 align-items: center;
 margin: 0 auto;
 margin-top: 50px;
}

.hero_text{
    margin-top: 50px;
}

.hero_text div{
    font-size: 60px;
    font-weight: 700;
}

ul i{
    color: hsl(0, 0%, 41%);
}

ul i:hover {
    color: hsl(0, 0%, 8%);
}

.hero_text p{
    line-height:22px ;
    color: hsl(0, 0%, 41%);
    font-weight: 500;
}

.hero_img img{
    width: 400px;
    margin-left: 100px;
}

.hero_btn button{
    padding: 20px 30px;
    border: none;
    background-color: hsl(0, 0%, 8%);
    color: hsl(0, 0%, 98%);
    border-radius: 15px;
}

.hero_btn button:hover{
    background-color: transparent;
    border: 1.5px solid hsl(0, 0%, 8%);
    color: hsl(0, 0%, 8%);
}

.companies{
  margin-top: 50px;
}

@media (max-width: 768px) {

    li{
        font-size: 12px;
    }

    .hero_text div{
        font-size: 40px;
    }

    .hero_text p{
        font-size: 14px;
    }

    .hero_img img{
        width: 300px;
    }
}